<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="./assets/myIcon.ico">
    <title>VA | 3D Paper Models</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <nav>
        <div class="nav-container">
            <img class="logo" src="./assets/Logo Remake Black.png" alt="">
            <div class="nav-title">
                <span>3D Paper Models</span>
                <span>vibrant-arrow.org</span>
            </div>
            <span>Sign In</span>
            <span>Favourites</span>
            <span>Cart</span>
        </div>
        
    </nav>


    
</body>
</html>